<!--Content Section-->
<div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


      <!--Content Left Side-->
      <div class="col-3">
          <!--User Testimonial-->
          <blockquote class="testimonial text-right bigtest">
              <q>Learning never exhausts the mind</q>
              <footer>— Dhirendra Kr Dubey, Keep Learning</footer>
          </blockquote>
          <!-- End of Testimonial-->

      </div>
      <!--End Content Left Side-->

      <!--Content of the Right Side-->
      <div class="col-3">
          <div class="section-heading">
              <h3>BELIEVING</h3>
              <h2 class="section-title">Focusing On What Matters Most</h2>
              <p class="section-subtitle">Focus is a skill too easily tossed aside in a world where we praise the multitasker, where devices with myriad functions are always considered superior, 
                  and where the ability to work from anywhere often means we never!</p>
          </div>
          <p>True focus requires getting lost. For great clarity, get lost in your work, in love, or in anything at all that deserves your attention. When you have the ability to get lost in conversation, a new project or interest, you can fully engage and discover what matters most. What matters most changes over time and as you move from one thing to another.
               Spending too much time in the transition of one thing to another can dilute your attention.
          </p>
          <p>
                You may be a professional multi-tasker but you can work more efficiently and love more deeply with great focus. With focus,
                 you have an opportunity to observe and act accordingly instead of trying to sustain reactionary workflow. If you spend your day only doing what needs to get done, you probably haven’t come up for air lately. 
                It may be time for a change in schedule or a change of heart.
          </p>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
              WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </a>
      </div>
      <!--End Content Right Side-->

      <div class="col-3">
          <img src="../assets/images/dancer.jpg" alt="Dancer"/>
      </div>

  </div>


</div>
<!--End of Content Section-->