<!-- header-slider-area end -->

<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <!--Banner Content-->

  <div id="banner-content" class="row clearfix">

    <div class="col-">

      <div class="section-heading">
        <h3> {{header.headings}} </h3>
        <h2>
          <li>{{header.headingtext}}</li>
          <li>Starting from basic to enhance your thinking power and become experts in the subject matter.</li>
          <li>Providing study material and videos with Regular test and mock-up( basic to advance level).</li>
          <li>Project and certification for corporate/college training( Technical courses).</li>
          <li>Well, qualified and Skilled faculty/ teachers/ instructors with continuous support.</li>
          <li>Award Recommendation for good resources.</li>
        </h2>


      </div>

      <h3>Courses & Training Offered</h3>
      <a data-featherlight="image" class="col-3 wow fadeIn" data-wow-delay="0.1s"><img
            src="assets/images/course-img/CompEx.jpg" alt="Landing Page" /></a>

      <a data-featherlight="image" class="col-3 wow fadeIn" data-wow-delay="0.1s"><img
              src="assets/images/course-img/GenEx.jpg" alt="Landing Page" /></a>

      <a data-featherlight="image" class="col-3 wow fadeIn" data-wow-delay="0.1s"><img
                src="assets/images/course-img/4_12.jpg" alt="Landing Page" /></a>
      
      <a data-featherlight="image" class="col-3 wow fadeIn" data-wow-delay="0.1s"><img
                  src="assets/images/course-img/itcourse.jpg" alt="Landing Page" /></a>
      
      <a data-featherlight="image" class="col-3 wow fadeIn" data-wow-delay="0.1s"><img
                    src="assets/images/course-img/online_train.jpg" alt="Landing Page" /></a>
      <a data-featherlight="image" class="col-3 wow fadeIn" data-wow-delay="0.1s"><img
                      src="assets/images/course-img/corporate.jpg" alt="Landing Page" /></a>

    </div>
           <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

            <div class="row clearfix">
                <h3>Key People (Founders)</h3>
                
                <blockquote class="col-2 testimonial classic">
                    <img src="assets/images/dubey.jpg" alt="User"/>
                    <q>B. Tech Graduate from WBUT, having extensive experience in teaching and training(instructor, mentor) more than 8 years, Awarded as best Teacher and researcher from Vedic Maths.</q>
                    <footer>Dhirendra Kr Dubey</footer>
                </blockquote>
                
                <blockquote class="col-2 testimonial classic">
                    <img src="assets/images/sudhir.jpg" alt="User"/>
                    <q>B. Tech Graduate from WBUT, having 6+ years IT experience, Trained and Certified in Java, Spring, Python, Machine Learning, Database and working experience in Startup, Product based and Service IT companies in development.</q>
                    <footer>Sudhir Kr Dhiraj</footer>
                </blockquote>
                
          
          
            </div>
          
          </aside>

  </div>

</header>
