 <!--Footer-->
 <footer id="landing-footer" class="clearfix">
  <div class="row clearfix">

      <h5 id="copyright" class="col-1">© 2019 | QuantumP.com | All Rights Reserved | Contact Us - 9007327927</h5>
      <!-- <h5  class="col-3">Contact Us - 9007327927</h5> -->
      <!-- <ul class="col-2 social-icons">
          <p>Contact Us - 9007327927</p>
          <p>Email Us - dubey26dubey43@gmail.com</p>
       </ul> -->
      <!--Social Icons in Footer-->
      <ul class="col-1 social-icons">
         <app-social></app-social>
      </ul>
      <!--End of Social Icons in Footer-->
  </div>
</footer>
<!--End of Footer-->
