<aside>

    <!--Social Icons-->
    <ul class="social-icons">
        <li>
            <a target="_blank" title="Facebook" href="https://facebook.com/dubey26dubey43/?ref=bookmarks">
                <i class="fa fa-facebook-square" style="font-size:24px;color:blue"></i>
            </a>
        </li>
        <li>
            <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/">
                <i class="fa fa-linkedin-square" style="font-size:24px;color:#0077B5"></i>
            </a>
        </li>
        <li>
            <a target="_blank" title="Google+" href="http://google.com/+username">
                <i class="fa fa-google-plus-square" style="font-size:24px;color:red"></i>
            </a>
        </li>
        <li>
            <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                <i class="fa fa-twitter-square" style="font-size:24px;color:#00aced"></i>
            </a>
        </li>
        <li>
            <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                <i class="fa fa-instagram" style="font-size:24px;color:red"></i>
            </a>
        </li>

    </ul>
    <!--End of Social Icons-->

</aside>