<br/>
<br/>
<br/>
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

      <div class="section-heading">
          <h3>Course Content Details</h3>
          <!-- <h2 class="section-title">What we offered in details</h2> -->
      </div>

      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
          <div class="pricing-block-content">
              <h3>Class 3 - 8</h3>
              <!-- <p class="pricing-sub">Class 3 to 8</p>
              <div class="pricing">
                  <div class="price"><span>INR</span>19000</div>
                  <p>Depends on course**</p>
              </div>
              <ul>
                  <li>5 Downloads</li>
                  <li>2 Extensions</li>
                  <li>Tutorials</li>
                  <li>Forum Support</li>
                  <li>1 year free updates</li>
              </ul> -->
              <a  class="button">Details</a>
          </div>
      </div>
      <!--End Pricing Block-->

      <!--Pricing Block-->
      <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
          <div class="pricing-block-content">
              <h3>Class 9 - 12</h3>
              <!-- <p class="pricing-sub">Class 9 to 12</p> -->
              <!-- <div class="pricing">
                  <div class="price"><span>INR</span>29000</div>
                  <p>Depends on course**</p>
              </div>
              <ul>
                  <li>15 Downloads</li>
                  <li>5 Extensions</li>
                  <li>Tutorials with Files</li>
                  <li>Forum Support</li>
                  <li>2 years free updates</li>
              </ul> -->
              <a  class="button">Details</a>
          </div>
      </div>
      <!--End Pricing Block-->

      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
          <div class="pricing-block-content">
              <h3>IIT-JEE</h3>
              <!-- <p class="pricing-sub">For the whole team</p> -->
              <!-- <div class="pricing">
                  <div class="price"><span>INR</span>80000</div>
                  <p>Depends on course**</p>
              </div>
              <ul>
                  <li>Unlimited Downloads</li>
                  <li>Unlimited Extensions</li>
                  <li>HD Video Tutorials</li>
                  <li>Chat Support</li>
                  <li>Lifetime free updates</li>
              </ul> -->
              <a  class="button">Details</a>
          </div>
      </div>
      <!--End Pricing Block-->
      <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="pricing-block-content">
                <h3>UPSC</h3>
                
                <a class="button">Details</a>
            </div>
        </div>
        <!--End Pricing Block-->
        <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="pricing-block-content">
                <h3>UGC</h3>
                
                <a class="button">Details</a>
            </div>
        </div>
        <!--End Pricing Block-->
        <!--Pricing Block-->
      <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="pricing-block-content">
                <h3>GATE</h3>
                
                <a  class="button">Details</a>
            </div>
        </div>
        <!--End Pricing Block-->
        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="pricing-block-content">
                    <h3>CAT</h3>
                    
                    <a  class="button">Details</a>
                </div>
            </div>
        <!--End Pricing Block-->
        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="pricing-block-content">
                    <h3>SSC, BANK, PO</h3>
                    
                    <a  class="button">Details</a>
                </div>
            </div>
        <!--End Pricing Block-->
        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="pricing-block-content">
                    <h3>C/c++, Java8( Core, Collection, Concurrency ,Advance and web)</h3>
                    
                    <a  class="button">Details</a>
                </div>
            </div>
        <!--End Pricing Block-->
        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="pricing-block-content">
                    <h3>Microservices, REST API, SpringBoot, Maven, GIT</h3>
                    
                    <a  class="button">Details</a>
                </div>
            </div>
        <!--End Pricing Block--><!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="pricing-block-content">
                    <h3>Python, Data Science with Python & R, Artificial Intellgence, Machine Learning, Deep Learning</h3>
                    
                    <a  class="button">Details</a>
                </div>
            </div>
        <!--End Pricing Block-->
        <!--Pricing Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="pricing-block-content">
                    <h3>Corporate Traning & Certification, Counseling for companies</h3>
                    
                    <a  class="button">Details</a>
                </div>
            </div>
        <!--End Pricing Block-->

  </div>
</section>