<br />
<br />
<br />
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>Course Content Details</h3>
        </div>

        <!-- Class 3 - 8 -->
        <div  class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div style="background-color:#C2F5D0" class="pricing-block-content">
                <h3>Class 3 - 8</h3>
                <!-- <a class="button">Details</a> -->
                <!-- Created seperate modal for each and calling here, can be add modal page here with button attribute( html and ts part in this component also-->
                <app-class3to8></app-class3to8>
            </div>
        </div>
        <!--End Class 3 - 8-->

        <!--class 9 to 12-->
        <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>Class 9 - 12</h3>
                <!-- <a class="button">Details</a> -->
                <app-class9to12></app-class9to12>
            </div>
        </div>
        <!--End Class 9 to 12-->

        <!--iitjee Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0" class="pricing-block-content">
                <h3>IIT-JEE</h3>
                <!-- <a class="button">Details</a> -->
                <app-iitjee></app-iitjee>
            </div>
        </div>
        <!--End iitjee-->

        <!--upsc Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>UPSC</h3>
                <app-upsc></app-upsc>
            </div>
        </div>
        <!--End upsc Block-->

        <!--UGC Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>UGC</h3>
                <app-ugc></app-ugc>
            </div>
        </div>
        <!--End UGC Block-->

        <!--GATE Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0" class="pricing-block-content">
                <h3>GATE</h3>
                <app-gate></app-gate>
            </div>
        </div>
        <!--End GATE Block-->

        <!--CAT Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>CAT</h3>
                <app-cat></app-cat>
            </div>
        </div>
        <!--End CAT Block-->
        <!--BANK Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>SSC, BANK, PO</h3>
                <app-bank></app-bank>
            </div>
        </div>
        <!--End Bank Block-->
        <!--java Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>Java8 (Core Java, Web Java)</h3>
                    
               <app-java8></app-java8>
            </div>
        </div>
        <!--End java Block-->
        <!--springboot Block-->
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>Microservices, Spring, Spring Boot, Spring Data JPA, Maven, GIT, Docker</h3>
                <app-springboot></app-springboot>
            </div>
        </div>

        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>Big Data Hadoop, MongoDB, MySql</h3>
                <app-hadoop></app-hadoop>
            </div>
        </div>
       
        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>Python, Data Science with Python</h3>
                <app-python></app-python>
            </div>
        </div>


        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0" class="pricing-block-content">
                <h3>Artificial Intellgence, Machine Learning, Deep Learning with TensorFlow
                    </h3>
                    <app-aiml></app-aiml>
            </div>
        </div>


        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0" class="pricing-block-content">
                <h3>Automation & Manual Testing, Selenium, QTP/UFT</h3>
                <app-testing></app-testing>
            </div>
        </div>

        <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div style="background-color:#C2F5D0"  class="pricing-block-content">
                <h3>Corporate Traning & Certification, Counseling for companies</h3>
                <app-counseling></app-counseling>
            </div>
        </div>

    </div>
</section>