<section id="clients" class="scrollto clearfix">
  <ng-template #class912 let-modal>
    <br />
    <br />
    <br />
    <div class="modal-header">
      <h4 class="modal-title">Maths/Physics/Chemistry Contents For Class 9 To 12</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Class 9</h3>
      <p>Numbers, Linear functions,
        Operations, Linear inequalities,
        Ratios,rates & Proportions, Systems of linear equations,
        Percents, Exponents,
        Measurement, Scientific notation,
        Geometry, Exponential functions,
        Co-ordinate plane, Monomials & Polynomials,
        Variable expressions, Factoring,
        Equations & Solving, Quadratic equations,
        Single variable inequalities, Functions,
        Absolute value equations, Absolute value functions,
        Matrices, Radical expressions,
        Data and graphs, Radical functions and equations,
        Problem solving Trigonometry,
        Number sequences, Logic,
        Relations & functions, Probability,
        Direct & inverse variation, Statistics
      </p>
      <h3>Class 10</h3>
      <p>Algebra review, Quadrilaterals,
        Points,lines & segments, Symmetry,
        Angles, Similarity,
        Parallel and perpendicular lines, Right triangles,
        Lines in the co-ordinate plane, Trigonometry,
        Introduction to triangles, Area and Perimeter,
        2-D figures, Surface area and Volume,
        3-D figures, Circles,
        Logic, Circles in the co-ordinate plane,
        Introduction to congruent figures, Measurement,
        Congruent triangles Probability,
        Transformations Vectors,
        Triangles </p>
      <h3>Class 11</h3>
      <label>Maths</label>
      <p>Variable expressions, Families of functions,
        Equations, Variation,
        Inequalities, Logarithms,
        Functions, Exponential and Logarithmic functions,
        System of equations, Parabolas,
        System of inequalities, Circles,
        Matrices Ellipses,
        Complex numbers, Hyperbolas,
        Factoring, Angle measures,
        Quadratic functions, Trigonometry,
        Polynomials, Trigonometric functions,
        Radical functions & expressions, Trigonometric identities,
        Rational exponents, Sequence and Series,
        Rational functions & expressions, Probability,
        Function operations,
        limit,
        continuity,
        Diffrentiabiliy,
        Diffrentiation, Statistics,
        Tangent Normal</p>
      <label>Physics</label>
      <p>Unit–I Physical World and Measurement
        Chapter–1: Physical World 10
        Chapter–2: Units and Measurements<br>

        Unit-II Kinematics
        Chapter–3: Motion in a Straight Line 20
        Chapter–4: Motion in a Plane<br>

        Unit–III Laws of Motion
        Chapter–5: Laws of Motion <br>

        Unit–IV Work, Energy and Power
        Chapter–6: Work, Energy and Power<br>

        Unit–V Motion of System of Particles and Rigid Body
        Chapter–7: System of Particles and Rotational Motion<br>

        Unit-VI Gravitation
        Chapter–8: Gravitation<br>

        Unit–VII Properties of Bulk Matter
        Chapter–9: Mechanical Properties of Solids

        Chapter–10: Mechanical Properties of Fluids
        Chapter–11: Thermal Properties of Matter<br>

        Unit–VIII Thermodynamics
        Chapter–12: Thermodynamics<br>

        Unit–IX Behaviour of Perfect Gases and Kinetic Theory of
        Gases
        Chapter–13: Kinetic Theory<br>

        Unit–X Mechanical waves and Ray Optics
        Chapter–14: Oscillations and waves 34 17
        Chapter–15: Ray optics</p>
      <label>Chemistry</label>
      <p>Unit I Some Basic Concepts of Chemistry <br>
        Unit II Structure of Atom <br>
        Unit III Classification of Elements and Periodicity in Properties <br>
        Unit IV Chemical Bonding and Molecular Structure <br>
        Unit V States of Matter: Gases, Liquids and solids <br>
        Unit VI Chemical Thermodynamics <br>
        Unit VII Equilibrium <br>
        Unit VIII Redox Reactions<br>
        Unit IX Hydrogen <br>
        Unit X s -Block Elements <br>
        Unit XI p -Block Elements <br>
        Unit XII Organic Chemistry: Some basic Principles and Techniques <br>
        Unit XIII Hydrocarbons <br>
        Unit XIV Environmental Chemistry </p>
      <h3>Class 12</h3>
      <label>Maths</label>
      <p>Functions, Trigonometric functions,
        Families of functions, Trigonometric identities,
        Quadratic functions, Conic sections,
        Polynomials, Real numbers,
        Rational functions, Complex numbers,
        Exponential and Logarithmic functions, Complex plane,
        Radical functions, Polar form,
        Roots and rational exponents, 2-Dimensional vectors,
        Systems of equations, 3-Dimensional vectors,
        Systems of inequalities, Sequence and Series,
        Nonlinear inequalities, Probability,
        Matrices, Probability distributions,
        Diffrentiation,
        Integration,
        Differential Equation,
        Trigonometry</p>
      <label>Physics</label>
      <p>Unit–I Electrostatics
        Chapter–1: Electric Charges and Fields
        Chapter–2: Electrostatic Potential and Capacitance<br>


        Unit-II Current Electricity
        Chapter–3: Current Electricity<br>

        Unit-III Magnetic Effects of Current and Magnetism
        Chapter–4: Moving Charges and Magnetism
        Chapter–5: Magnetism and Matter<br>


        Unit-IV Electromagnetic Induction and Alternating Currents
        Chapter–6: Electromagnetic Induction 20
        Chapter–7: Alternating Current<br>

        Unit–V Electromagnetic Waves
        Chapter–8: Electromagnetic Waves <br>


        Unit–VI Optics
        Chapter–9: Ray Optics and Optical Instruments 25
        Chapter–10: Wave Optics<br>

        Unit–VII Dual Nature of Radiation and Matter
        Chapter–11: Dual Nature of Radiation and Matter<br>

        Unit–VIII Atoms and Nuclei
        Chapter–12: Atoms 14
        Chapter–13: Nuclei<br>

        Unit–IX Electronic Devices
        Chapter–14: Semiconductor Electronics: Materials,
        Devices and Simple Circuits<br>

        Unit–X Communication Systems
        Chapter–15: Communication Systems</p>
      <label>Chemistry</label>
      <p>Unit I Solid State<br>
        Unit II Solutions <br>
        Unit III Electrochemistry <br>
        Unit IV Chemical Kinetics <br>
        Unit V Surface Chemistry <br>
        Unit VI General Principles and Processes of Isolation of Elements <br>
        Unit VII p-Block Elements <br>
        Unit VIII d -and f -Block Elements <br>
        Unit IX Coordination Compounds <br>
        Unit X Haloalkanes and Haloarenes <br>
        Unit XI Alcohols, Phenols and Ethers <br>
        Unit XII Aldehydes, Ketones and Carboxylic Acids <br>
        Unit XIII Organic Compounds containing Nitrogen <br>
        Unit XIV Biomolecules<br>
        Unit XV Polymers <br>
        Unit XVI Chemistry in Everyday Life </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>

  </ng-template>

  <br />
  <br />
  <br />
  <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(class912)">Details</button>

</section>