<!--Introduction-->
<br/>
<br/>
<br/>
<section id="about" class="introduction scrollto">

  <div class="row clearfix">

      <div class="col-3">
          <div class="section-heading">
              <h3>Success Mantra with QunatumP</h3>
              <h2 class="section-title">By the Student & For the Student</h2>
              <p class="section-subtitle">QuantumP gives you a way of learning and thinking from basic, fill positive energy to enable yourself to enhance your digging power, explore yourself and getting interested in the subject matter.
                <br><br>
                    Our courses are designed based on experience in teaching mathematics, science, technical subjects for students and teachers of all levels.
                    <br><br>
                    Provides the best quality of knowledge to achieve goals.
    
                </p>

          </div>

      </div>

      <div class="col-2-3">

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-html5 fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>Faculty &amp; Instructors</h4>
                  <p>By providing skilled and experienced teachers,instructors in particular fields.</p>
              </div>
          </div>
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>Regular Test & Practice </h4>
                    <p>Improves memory and boosts self-confidence with speed and accuracy.</p>
                </div>
            </div>
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-bolt fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>Self Learning & Practice</h4>
                  <p>Self-study and practice make easy to implements and develop new ideas. Before starts course, self-learning materials will be provided to get clear pictures on that subject. Weekly assignments and regular practice set in class make you better.</p>
              </div>
          </div>
          <!--End of Icon Block-->

          <!--Icon Block-->
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
              <!--Icon-->
              <div class="icon">
                  <i class="fa fa-tablet fa-2x"></i>
              </div>
              <!--Icon Block Description-->
              <div class="icon-block-description">
                  <h4>Real time Projects</h4>
                  <p>Real-time projects on each technical subject that will be completed by the student at the time of course duration and instructors will be provided for help in each project till the projects got finished and then certification will be issued to the Students.</p>
              </div>
          </div>
         
          <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>IT Companies & Placements </h4>
                    <p>New Technologies & Skills development, Courses offered with Real-time projects, Preparation for placement in IT Companies.</p>
                </div>
            </div>

            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-rocket fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4>Student Corner </h4>
                        <p>Students are free to communicate at any time and ask their doubts and problems anytime even after course got over.</p>
                    </div>
                </div>

      </div>

  </div>


</section>
<!--End of Introduction-->