<br/>
<br/>
<br/>
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

        <div class="row clearfix">
      
            <div class="section-heading">
                <h3>Our Core Team(Faculties)</h3>
                <h2 class="section-title">Competitive and General Section</h2>
            </div>
      
             
            <blockquote class="col-3 testimonial classic">
                <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                <q>Graduated form WBUT university</q>
                <footer>Dhirendra</footer>
            </blockquote>
            
            <blockquote class="col-3 testimonial classic">
                <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                <q>M.Tech , NIT Agartala</q>
                <footer>Manish Chaudhary</footer>
            </blockquote>
            
            <blockquote class="col-3 testimonial classic">
                <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                <q>IIM Kolkata</q>
                <footer>Anish chakraborty</footer>
            </blockquote>
             
            <blockquote class="col-3 testimonial classic">
                    <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                    <q>Graduated From Jadhavpur University</q>
                    <footer>Ratna Sarkar</footer>
                </blockquote>
                
                <blockquote class="col-3 testimonial classic">
                    <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                    <q>M.Tech, NIT Patna</q>
                    <footer>Anirudh Singh</footer>
                </blockquote>
                
                <blockquote class="col-3 testimonial classic">
                    <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                    <q>coming soon</q>
                    <footer>Anish</footer>
                </blockquote>

                <div class="section-heading">
                        <h2 class="section-title">Techincal Section</h2>
                    </div>
                
                <blockquote class="col-3 testimonial classic">
                        <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                        <q>B.Tech from WBUT, having 6+ years IT experience</q>
                        <footer>Sudhir</footer>
                    </blockquote>
                    
                    <blockquote class="col-3 testimonial classic">
                        <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                        <q>B.E from NIT, having 9+ years IT experience</q>
                        <footer>Himanshu Shukla</footer>
                    </blockquote>
                    
                    <blockquote class="col-3 testimonial classic">
                        <img src="assets/images/user-images/img_avatar.png" alt="User"/>
                        <q>Graduated from IIIT Bangalore , having 8+ years IT experience</q>
                        <footer>Manjunath S</footer>
                    </blockquote>
        </div>
      
      </aside>

