<section id="clients" class="scrollto clearfix">
  <ng-template #class38 let-modal>
    <br />
    <br />
    <br />
    <div class="modal-header">
      <h4 class="modal-title">Maths Contents for Class 3 to 8</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <b>Class 3</b>
      <p>
        Numbers & Comparing , Money,
        Place values , Time,
        Addition , Data & Graphs,
        Subtraction , Fractions,
        Multiplication , Decimals,
        Division , Unit of measurement,
        Mixed operations, 2-D shapes,
        Properties of operations, Triangles & Quadrilaterals,
        Equations & Variables , 3-D shapes,
        Estimation & Rounding , Geometric Measurement,
        Logical Reasoning , Probability & Statistics,
        Patterns</p>
      <b>Class 4</b>
      <p>
        Numbers Money, Addition, Subtraction, Multiplication, Division, Mixed operations, Variable
        Expressions, Functions, Co-ordinate Plane, Data & Graphs, Logical Reasoning,Patterns & Sequences, Time, Unit of
        measurement, Fractions & operations, Decimals & operations, Probability & Statistics, 2-D figures, Triangles &
        Quadrilaterals, Symmetry, Angles, 3-D figures, Geometric measurement
      </p>
      <b>Class 5</b>
      <p>
        Number Theory, Money,
        Addition, Number Sequences,
        Subtraction, Co-ordinate Plane,
        Multiplication, Variable Expressions,
        Division, Data & Graphs,
        Mixed operations, Probability & Statistics,
        Exponents, Time,
        Decimals & operations, Unit of measurement,
        Fractions & operations, 2-D figures,
        Mixed numbers, Triangles & Quadrilaterals,
        Problem Solving, Symmetry & Transformations,
        Ratios & Rates, 3-D Figures,
        Percents, Geometric Measurement
      </p>
      <b>Class 6</b>
      <p>Whole numbers, Time
        Number Theory, Co-ordinate plane,
        Integers & operations, Expressions & properties,
        Mixed operations, One variable equations,
        Rational Numbers, One variable inequalities,
        Exponent & Square Roots, Two variable equations,
        Decimals & Operations, 2-D figures,
        Fractions & Mixed numbers, Symmetry & transformation,
        Problem-solving & estimation, 3-D figures,
        Ratios & rates, Geometric measurement,
        Percents, Data & Graphs,
        Unit of measurement, Statistics,
        Money Probability,
        Consumer Math</p>
      <b>Class 7</b>
      <p>
        Number Theory, Expressions & properties,
        Integers & operations, One variable equations,
        Decimals & operations, One variable inequalities,
        Fractions & Mixed numbers, Two variable equations,
        Rational numbers, Linear functions,
        Exponents & square roots, Two dimensional figures,
        Ratios,rates & proportions, Transformations & Congruence,
        Proportional Relationships, Pythagorean theorem,
        Percents, 3-D figures,
        Consumer math, Geometric measurement,
        Problem solving & Estimation, Data & Graphs,
        Units of measurement, Statistics,
        Co-ordinate plane, Probability,
        Number Sequences
      </p>
      <b>Class 8</b>
      <p>
        Number Theory, Pythagorean theorem,
        Integers & operations, 3-Dimensional figures,
        Rational numbers & operations, Geometric measurement,
        Exponents & roots, Number Sequences,
        Scientific notation, Expressions & Properties,
        Ratios,rates & proportions, One variable equations,
        Proportional relationships, One variable inequalities,
        Percents, Linear equations,
        Consumer Math, Functions,
        Units of measurement, System of linear equations,
        Problem Solving Monomials & Polynomials,
        Co-ordinate plane, Data & Graphs,
        2-Dimensional figures, Statistics,
        Transformations & Congruence, Probability,
        Transformations & Similarity
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>

  </ng-template>

  <br />
  <br />
  <br />
  <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(class38)">Details</button>

</section>