<section id="clients" class="scrollto clearfix">
  <ng-template #java8 let-modal>
    <br />
    <br />
    <br />
    <div class="modal-header">
      <h4 class="modal-title">Core & Web Java8 </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Overview,
        Basics Conecpt,
        OOP Concept,
        Operators,
        Inheritance,
        Input Output,
        Strings,
        Arrays,
        Keyword,
        Constructors,
        Exception Handling,
        Interfaces and Abstract Classes,
        Java Packages,
        Collection (List, Map, Set, Comparable& Comparator Interface),
        Multithreading & Concurrency,
        Garbage Collection,
        Wrapper Classes. <br> <br>
        Java 8 features : Date/Time API,
        Lambda Expressions,
        Method References,
        Functional Interfaces,
        Stream,
        Base64 Encode Decode,
        Default Methods,
        forEach method,
        Collectors,
        StringJoiner,
        Optional class,
        Nashorn JavaScript,
        Parallel Array Sorting,
        Type Inference,
        Method Parameter Reflection,
        Type annotations and repeating annotations,
        Java JDBC Improvements,
        Java IO Improvement.<br> <br>
        Java 9 features : Platform Module System (Project Jigsaw),
        Interface Private Methods,
        Try-With Resources,
        Anonymous Classes,
        @SafeVarargs Annotation,
        Collection Factory Methods,
        Process API Improvement,
        New Version-String Scheme,
        JShell: The Java Shell (REPL),
        Process API Improvement,
        Control Panel,
        Stream API Improvement. <br><br>
        Design Pattern,
        JUNIT,
        REST API(GET,POST,UPDATE,DELETE),
        MAVEN,
        Apace Tomcat,
        HTMl5,
        JavaScript,
        CSS,
        Bootstrap,
        IDEs</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>

  </ng-template>

  <br />
  <br />
  <br />
  <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(java8)">Details</button>

</section>