<section id="clients" class="scrollto clearfix">
  <ng-template #iitjee let-modal>
    <br />
    <br />
    <br />
    <div class="modal-header">
      <h4 class="modal-title">IIT-JEE Contents</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4>IIT Main:</h4>
      <label>Maths</label>
      <p>
        Sets, Relations and Functions

        Complex Numbers and Quadratic Equations

        Matrices and Determinants

        Permutations and Combinations

        Mathematical Induction

        Binomial Theorem and its Simple Applications

        Sequences and Series

        Limit, Continuity and Differentiability

        Integral Calculus

        Differential Equations

        Co-ordinate Geometry

        Three Dimensional Geometry

        Vector Algebra

        Statistics and Probability

        Trigonometry

        Mathematical Reasoning
      </p>
      <label>Physcis</label>
      <p>Physics and Measurement

          Kinematics
          
          Laws of Motion
          
          Work, Energy and Power
          
          Rotational Motion
          
          Gravitation
          
          Properties of Solids and Liquids
          
          Thermodynamics
          
          Kinetic Theory of Gases
          
          Magnetic effects of Current and Magnetism
          
          Oscillations and Waves
          
          Electromagnetic Induction and Alternating Currents
          
          Electrostatics
          
          Electromagnetic Waves
          
          Current Electricity
          
          Optics
          
          Atoms and Nuclei
          
          Electronic Devices
          
          Communication Systems</p>
      <h4>Chemistry</h4>
      <label>Physical Chemistry</label>
      <p>Some Basic Concepts in Chemistry

          States of Matter
          
          Chemical Bonding and Molecular Structure
          
          Chemical Thermodynamics
          
          Solutions
          
          Equilibrium
          
          Redox Reactions and Electrochemistry
          
          Chemical Kinetics
          
          Surface Chemistry
          
          Atomic Structure</p>
      <label>Organic Chemistry</label>
      <p>
          Hydrocarbons
          
          Organic Compounds containing Halogens
          
          Organic Compounds containing Oxygen
          
          Organic Compounds containing Nitrogen
          
          Polymers
          
          Biomolecules
          
          Chemistry in Everyday Life
          
          Principles related to Practical Chemistry</p>
      <label>Inorganic Chemistry</label>
      <p>Classification of Elements and Periodicity in Properties

          General Principles and Processes of Isolation of Metals
          
          Hydrogen
          
          S-Block Elements (Alkali and Alkaline Earth Metals)
          
          P-Block Elements
          
          d- and f- Block Elements
          
          Co-ordination Compounds
          
          Environmental Chemistry
          
          Purification and Characterization of Organic Compounds
          
          Some Basic Principles of Organic Chemistry</p>
        <h4>IIT Advance:</h4>
        <label>Maths</label>
        <p>Algebra

            Trigonometry
            
            Analytical geometry (2 dimensions)
            
            Analytical geometry (3 dimensions)
            
            Differential calculus
            
            Integral calculus
            
            Vectors</p>
        <label>Physics</label>
        <p>General Concepts

            Mechanics
            
            Thermal Physics
            
            Electricity and Magnetism
            
            Electromagnetic Induction
            
            Optics
            
            Wave nature of Light
            
            Modern Physics</p>
        <h5>Chemistry</h5>
        <label>Physical Chemistry</label>
        <p>General Topics

            Gaseous and Liquid States
            
            Energetics
            
            Chemical Equilibrium
            
            Electrochemistry
            
            Chemical Kinetics
            
            Solid State
            
            Atomic Structure and Chemical Bonding
            
            Solutions
            
            Surface Chemistry
            
            Nuclear Chemistry</p>
        <label>Organic Chemistry</label>
        <p>Basic Concepts

            Preparation, Properties and Reactions of Alkenes
            
            Preparation, Properties and Reactions of Alkenes and Alkynes
            
            Reactions of Benzene
            
            Phenols
            
            Characteristic Reactions of the following (including those mentioned above)
            
            Alkyl halides
            
            Alcohols
            
            Ethers
            
            Aldehydes and Ketones
            
            Carboxylic acids
            
            Haloarenes
            
            Carbohydrate
            
            Amino acids and peptides
            
            Properties and uses of some important polymers</p>
        <label>Inorganic Chemistry</label>
        <p>Isolation/Preparation and Properties of the following Non-metals

            Preparation and Properties of the following Compounds
            
            Transition Elements (3D Series)
            
            Preparation and Properties of the following Compounds
            
            Ores and Minerals
            
            Extractive Metallurgy
            
            Principles of Qualitative Analysis</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>

  </ng-template>

  <br />
  <br />
  <br />
  <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(iitjee)">Details</button>

</section>