<div id="header" class="nav-collapse nav-solid">
    <div class="row clearfix">
        <div class="col-1">
            <!--Logo-->
            <div id="logo">
                <!--The Logo that is shown on the sticky Navigation Bar-->
                <a href="" title="QuantumP &#013;Empowering People" id="navigation-logo" alt="Landing Page"><img
                        src="assets/images/logo.JPG" /></a>
                <!--End of Navigation Logo-->
            </div>
            <!--End of Logo-->

            <!-- add social and navigation -->
            <aside>
                <app-social></app-social>
            </aside>

            <!--Main Navigation-->
            <nav id="nav-main">
                <ul>
                    <li>
                        <a routerLink="/Home" (click)="getActiveTab('home')"
                            [class.active]="activetab === 'home'">Home</a>
                    </li>
                    <li>
                        <a routerLink="/About" (click)="getActiveTab('about')"
                            [class.active]="activetab === 'about'">About</a>
                    </li>
                    <li>
                        <a routerLink="/Gallery" (click)="getActiveTab('gallery')"
                            [class.active]="activetab === 'gallery'">Faculty</a>
                    </li>
                    <li>
                        <a routerLink="/Testimonials" (click)="getActiveTab('testimonials')"
                            [class.active]="activetab === 'testimonials'">Testimonials</a>
                    </li>
                    <li>
                        <a routerLink="/Courses" (click)="getActiveTab('courses')"
                            [class.active]="activetab === 'courses'">Courses</a>
                    </li>
                    <li>
                        <a routerLink="/Pricing" (click)="getActiveTab('pricing')"
                            [class.active]="activetab === 'pricing'">Pricing</a>
                    </li>
                    <li>
                        <a routerLink="/Contact" (click)="getActiveTab('contact')"
                            [class.active]="activetab === 'contact'">Contact</a>
                    </li>

                </ul>

            </nav>
            <!--End of Main Navigation-->
        </div>
    </div>
</div>
<!--End of Header-->