<br />
<br />
<br />

<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

        <div class="section-heading">
            <h3>Achievement</h3>
            <h2 class="section-title"> Our Victorious Aspirants/Students</h2>
        </div>

        <blockquote class="col-3 testimonial classic">
            <img src="assets/images/user-images/img_avatar.png" alt="User" />
            <q>Cleared Bank Exams</q>
            <footer>Amit Das</footer>
        </blockquote>

        <blockquote class="col-3 testimonial classic">
            <img src="assets/images/user-images/img_avatar.png" alt="User" />
            <q>Got placed in IT Company</q>
            <footer>Debasis Karmakar</footer>
        </blockquote>

        <blockquote class="col-3 testimonial classic">
            <img src="assets/images/user-images/img_avatar.png" alt="User" />
            <q>Gate Qualified </q>
            <footer>Sonika Sharma</footer>
        </blockquote>

    </div>

</aside>

<div id="services" class="scrollto clearfix">
    <div class="row no-padding-bottom clearfix">
        <div class="col-3">
            <blockquote class="testimonial text-right bigtest">
                <q>Learning never exhausts the mind</q>
                <footer>— Dhirendra Kr Dubey, Keep Learning</footer>
            </blockquote>
        </div>

        <div class="col-3">
            <div class="section-heading">
                <h3>BELIEVING</h3>
                <h2 class="section-title">Focusing On What Matters Most</h2>
                <p class="section-subtitle">Focus is a skill too easily tossed aside in a world where we praise the
                    multitasker, where devices with myriad functions are always considered superior,
                    and where the ability to work from anywhere often means we never!</p>
            </div>

            <a data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
       
        <div class="col-3">
            <div class="section-heading">
                <h3>KEEP GOING</h3>
            </div>
            <img src="assets/images/user-images/Albert.png" alt="Dancer" />

            <!-- <h2 class="section-title">Focusing On What do you like most</h2>
                <p class="section-subtitle">Focus is a skill too easily tossed aside in a world where we praise the multitasker, where devices with myriad functions are always considered superior, 
                    and where the ability to work from anywhere often means we never!</p>
                    <a  data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                            WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
                        </a> -->
        </div>
    </div>
</div>